.pageContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 80px;
}

.fullImage {
    width: 100%;
    height: auto;
    max-width: none;
    margin-left: -11%;
}

@media (min-width: 1200px) {
    .fullImage {
        width: 120%;
        margin-left: -10%;
    }
}

@media (min-width: 1600px) {
    .fullImage {
        width: 140%;
        margin-left: -20%;
    }
}

@media (max-width: 768px) {
    .pageContainer {
        padding-top: 0;
    }
}
